/*
Classes

Re-usable utility classes.

styleguide: classes
*/

/*
.cols

A columns container.
Its child elements are columned inexplicitly.

markup:
<!-- 2 columns -->
<div class="cols">
	<div>Left Column</div>
	<div>Right Column</div>
</div>
<!-- A number of columns can be varied -->
<div class="cols">
	<div>Column #1</div>
	<div>Column #2</div>
	<div>Column #3</div>
	<div>Column #4</div>
</div>

styleguide: classes.cols
*/
.cols {
	.cols();
}

/*
.cols-{n}

A container for specific number of columns.

markup:
<!-- 3 columns -->
<div class="cols-3">
	<div>Column #1</div>
	<div>Column #2</div>
	<div>Column #3</div>
	<div>Column #4 (wrapped)</div>
	<div>Column #5 (wrapped)</div>
</div>

styleguide: classes.cols-n
*/
.cols-n(12); // Generates .cols-2 - .cols-12

.table {
	display: table;

	.col {
		display: table-cell;
	}

	.row {
		display: table-row;

		> * {
			.col;
		}
	}

	> .head {
		display: table-header-group;
	}

	> .body {
		display: table-row-group;
	}

	> .foot {
		display: table-footer-group;
	}
}

.rollover {
	.rollover;
}

.rollover-inline {
	.rollover(inline);
}

.rollover-block {
	.rollover(block);
}
