/**
 * Blessing / Methods / Development
 * Methods for development or testing.
 */

#d { // Namespace

@mark-color-01: red;
@mark-color-02: green;
@mark-color-03: blue;
@mark-opacity: .5;

.mark, .mark-a {
	background-color: @mark-color-01;
	//#css3 > .opacity(@mark-opacity);
}

.mark + .mark,
.mark-b {
	background-color: @mark-color-02;
}

.mark + .mark + .mark,
.mark-c {
	background-color: @mark-color-03;
}

}
