@import "variables.less";

/**
 * Division Methods :: Blessing
 * @author amekusa <post@amekusa.com>
 */

// # Division methods

// ## Clearfix
.-clearfix () {
	&:after {
		content: @whitespace-char;
		clear: both;
		visibility: hidden;
		display: block;
		height: 0;
		overflow: hidden;
	}
}
.-clearfix () when (@compatibility >= @compatibility-ie7) {
	zoom: 1;
}
.-clearfix-alt () {
	overflow: hidden;
	width: 100%;
}

// ## Columns
.-cols (@-arrangement: ltr) {
	.-clearfix;
	
	> * {
		display: block;
		min-height: 1px;
	}
}
.-cols (@-arrangement: ltr)
		when (@-arrangement = ltr) {
	
	> * {
		float: left;
	}
}
.-cols (@-arrangement: ltr)
		when (@-arrangement = rtl) {
	
	> * {
		float: right;
	}
}

.-2-cols (
		@-1st-col-width: auto,
		@-2nd-col-width: auto,
		@-cols-spacing: @base-margin,
		@-cols-arrangement: ltr) {
	
	.-cols (@-cols-arrangement);
	
	> * {
		
		&:first-child,
		&:nth-child(odd) {
			width: @-1st-col-width;
		}
		
		&:last-child,
		&:nth-child(even) {
			width: @-2nd-col-width;
		}
	}
}
.-2-cols (
		@-1st-col-width: auto,
		@-2nd-col-width: auto,
		@-cols-spacing: @base-margin,
		@-cols-arrangement: ltr)
		when (@-cols-arrangement = ltr) {
	
	> * {
		@x: @-cols-spacing / 2;
		
		&:first-child,
		&:nth-child(odd) {
			margin-right: @x;
		}
		
		&:last-child,
		&:nth-child(even) {
			margin-left: @x;
		}
	}
}
.-2-cols (
		@-1st-col-width: auto,
		@-2nd-col-width: auto,
		@-cols-spacing: @base-margin,
		@-cols-arrangement: ltr)
		when (@-cols-arrangement = rtl) {
	
	> * {
		@x: @-cols-spacing / 2;
		
		&:first-child,
		&:nth-child(odd) {
			margin-right: @x;
		}
		
		&:last-child,
		&:nth-child(even) {
			margin-left: @x;
		}
	}
}

/*
.-cols(
		@-num-cols: auto,
		@-cols-height-equation: auto,
		@-cols-spacing: @base-margin,
		@-cols-arrangement: ltr) {
	
	display: block;
	.-clearfix;
	
	> * {
		display: block;
		min-height: 1px; // Prevents collapsing width while no any content in the column.
		.-naked;
		
		> .content {
			display: block;
			margin: 0;
			.-h-padding(@-cols-spacing / 2);
		}
	}
}
// ## 2 columns
.-cols(
		@-num-cols: auto,
		@-cols-height-equation: auto,
		@-cols-spacing: @base-margin,
		@-cols-arrangement: ltr)
		when(@-num-cols = 2) {
	
	> * {
		width: 100% / 2;
		
		&:first-child,
		&:nth-child(odd) {
			
			> * {
				margin-right: @-cols-spacing / 2;
			}
			
			> .content {
				.-h-padding(0, @-cols-spacing / 2);
			}
		}
		
		&:last-child,
		&:nth-child(even) {
			
			> * {
				margin-left: @-cols-spacing / 2;
			}
			
			> .content {
				.-h-padding(@-cols-spacing / 2, 0);
			}
		}
		
		&.primary {
			width: 100% * @ratio-gold;
		}
		
		&.secondary {
			width: 100% * (1.0 - @ratio-gold);
		}
	}
}
// ## 3 columns
.-cols(
		@-num-cols: auto,
		@-cols-height-equation: auto,
		@-cols-spacing: @base-margin,
		@-cols-arrangement: ltr)
		when(@-num-cols = 3) {
	
	> * {
		width: 100% / 3;
		
		> .content {
			.-h-padding(@-cols-spacing / 3);
		}
		
		&:first-child,
		&:nth-child(3n-1) {
			> .content {
				.-h-padding(0, @-cols-spacing * 2 / 3);
			}
		}
		
		&:last-child,
		&:nth-child(3n+1) {
			> .content {
				.-h-padding(@-cols-spacing * 2 / 3, 0);
			}
		}
		
		&.primary {
			width: 100% * 0.5;
		}
		
		&.secondary {
			width: 100% * 0.31;
		}
		
		&.tertiary {
			width: 100% * 0.19;
		}
	}	
}
// ## Equal-height columns
.-cols(
		@-num-cols: auto,
		@-cols-height-equation: auto,
		@-cols-spacing: @base-margin,
		@-cols-arrangement: ltr)
		when(@-cols-height-equation = equal) {
	
	> * {
		height: 100%;
		
		> .content {
			height: 100%;
		}
	}
}
// ## Arrange columns as left to right
.-cols(@-num-cols: auto, @-cols-height-equation: auto, @-cols-spacing: @base-margin,
		@-cols-arrangement: ltr) when (@-cols-arrangement = ltr) {
	
	> * {
		float: left;
	}
}
// ## Arrange columns as right to left
.-cols(@-num-cols: auto, @-cols-height-equation: auto, @-cols-spacing: @base-margin,
		@-cols-arrangement: ltr) when (@-cols-arrangement = rtl) {
	
	> * {
		float: right;
	}
}
// Compatible with lte IE 7 & gt IE 6
.-cols(@-cols-spacing: @base-margin, @-direction: left, @-compatibility: @compatibility) when (@-compatibility >= @compatibility-ie7), (@-compatibility < @compatibility-ie6) {
	
	&.dyad > * {
		
		&.first-child > .content {
			.-h-padding(0, @-cols-spacing / 2);
		}
		
		&.last-child > .content {
			.-h-padding(@-cols-spacing / 2, 0);
		}
	}
	
	&.triad > * {
		
		&.first-child > .content {
			.-h-padding(0, @-cols-spacing * 2 / 3);
		}
		
		&.last-child > .content {
			.-h-padding(@-cols-spacing * 2 / 3, 0);
		}
	}
}
// Compatible with lte IE 6
.-cols(@-cols-spacing: @base-margin, @-direction: left, @-compatibility: @compatibility) when (@-compatibility >= @compatibility-ie6) {
	
	.col {
		display: block;
		float: @-direction;
		min-height: 1px;
		
		.content {
			display: block;
			.-h-padding(@-cols-spacing / 2);
		}
	}
	
	&.dyad .col {
		width: 100% / 2;
		
		&.first-child .content {
			.-h-padding(0, @-cols-spacing / 2);
		}
		
		&.last-child .content {
			.-h-padding(@-cols-spacing / 2, 0);
		}
		
		&.primary {
			width: 100% * @ratio-gold;
		}
		
		&.secondary {
			width: 100% * (1.0 - @ratio-gold);
		}
	}
	
	&.triad .col {
		width: 100% / 3;
		
		.content {
			.-h-padding(@-cols-spacing / 3);
		}
		
		&.first-child .content {
			.-h-padding(0, @-cols-spacing * 2 / 3);
		}
		
		&.last-child .content {
			.-h-padding(@-cols-spacing * 2 / 3, 0);
		}
		
		&.primary {
			width: 100% * 0.5;
		}
		
		&.secondary {
			width: 100% * 0.31;
		}
		
		&.tertiary {
			width: 100% * 0.19;
		}
	}
}
*/
.-rows(@-cols-spacing: @base-margin) {
	display: block;
	
	> .cell,
	> .row {
		display: block;
		min-width: 1px;
		
		> .content {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			.-v-padding(@-cols-spacing / 2);
		}
	}
	
	&.dyad > .cell,
	&.dyad > .row {
		width: 100% / 2;
		
		&:first-child > .content {
			.-v-padding(0, @-cols-spacing / 2);
		}
		
		&:last-child > .content {
			.-v-padding(@-cols-spacing / 2, 0);
		}
		
		&.primary {
			width: 100% * @ratio-gold;
		}
		
		&.secondary {
			width: 100% * (1.0 - @ratio-gold);
		}
	}
	
	&.triad > .cell,
	&.triad > .row {
		width: 100% / 3;
		
		> .content {
			.-v-padding(@-cols-spacing / 3);
		}
		
		&:first-child > .content {
			.-v-padding(0, @-cols-spacing * 2 / 3);
		}
		
		&:last-child > .content {
			.-v-padding(@-cols-spacing * 2 / 3, 0);
		}
		
		&.primary {
			width: 100% * 0.5;
		}
		
		&.secondary {
			width: 100% * 0.31;
		}
		
		&.tertiary {
			width: 100% * 0.19;
		}
	}
}

// ## Horizontal array
.-h-array(@-num-items, @-item-margin: 0) {
	display: block;
	.-clearfix;
	
	> * {
		display: block;
		float: left;
		width: 100% / @-num-items;
		
		> .content {
			padding-left: @-item-margin / 2;
			padding-right: @-item-margin / 2;
		}
	}
}

// ## Table 


/*
 **/
