/**
 * Blessing / Wrapper / CSS 2.1
 */

#css2 { // Namespace

.display(table) {
	display: table;
	behavior: url("@{scripts-url}/display-table.htc/display-table.min.htc");
}

.display(table-cell) {
	display: table-cell;
	behavior: url("@{scripts-url}/display-table.htc/display-table.min.htc");
	-dt-display: table-cell;
}

.display(inline-block, @-compatibility: @compat) {
	display: inline-block;
}

.display(inline-block, @-compatibility: @compat)
		when (@-compatibility >= @compat-ie7) {
	display: inline;
	zoom: 1;
}

}
