/*
Mixins

styleguide: mixins
*/

@import "mixins.util.less";
@import "mixins.selector.less";
@import "mixins.polyfill.less";
@import "mixins.layout.less";

.layer(@z-index: auto) {
	display: block;
	position: absolute;
	z-index: @z-index;
	left: 0;
	top: 0;
	.dim(100%);
	.bare;
	box-sizing: border-box;
}

.maximise-x(@proportional: true) {
	width: 100%;
	max-height: 100%;

	& when (@proportional) {
		height: auto;
	}
}

.maximise-y(@proportional: true) {
	height: 100%;
	max-width: 100%;

	& when (@proportional) {
		width: auto;
	}
}

.nowrap(@overflow: visible; @ellipsis: ellipsis) {
	white-space: nowrap;
	overflow: @overflow;
}

.nocollapse() {

	&:before {
		content: "";
		display: table;
	}
}

@import "mixins.division.less";
@import "mixins.interaction.less";
@import "mixins.component.less";
@import "mixins.typography.less";
@import "mixins.animation.less";
@import "mixins.transform.less";
