/*
Box

styleguide: mixins.box
*/

/*
.dim

Sets up dimensions.

less:
.box {
	.dim(480px 320px);
}
---
// Singular value means both of width and height
.box {
	.dim(32px);
}

@metrics <length[*]> - A list of dimension property values

styleguide: mixins.box.dim
*/
.dim(@metrics) {
	
	& when (length(@metrics) = 1) {
		width: @metrics;
		height: @metrics;
	}
	
	& when (length(@metrics) >= 2) {
		width: extract(@metrics, 1);
		height: extract(@metrics, 2);
	}
}
