/*
Selector

styleguide: mixins.selector
*/

/*
.pseudo

Selects a pseudo element.

less:
p {
	.pseudo(before; {
		content: "Sir! ";
	});
}
---
// Uses ":" instead of "::" to support IE 8
@compat: @compat-ie8;
p {
	.pseudo(before; {
		content: "Sir! ";
	});
}

@element <string> - A pseudo element
@ruleset <ruleset> - A ruleset to apply for the pseudo element

styleguide: mixins.selector.pseudo
*/
.pseudo(@element; @ruleset) {
	
	& when (@compat >= @compat-ie8) {
		&:@{element} {
			@ruleset();
		}
	}
	
	& when not(@compat >= @compat-ie8) {
		@_element: e(":@{element}");
		&:@{_element} {
			@ruleset();
		}
	}
}

/*
.before

Alias of:
```less
.pseudo(before; @ruleset)
```

@ruleset <ruleset> - A ruleset to apply for `::before`

styleguide: mixins.selector.before
*/
.before(@ruleset) {
	.pseudo(before; @ruleset);
}

/*
.after

Alias of:
```less
.pseudo(after; @ruleset)
```

@ruleset <ruleset> - A ruleset to apply for `::after`

styleguide: mixins.selector.after
*/
.after(@ruleset) {
	.pseudo(after; @ruleset);
}

/*
.h

Selects heading elements.

Alias of:
```less
.h(1; 6; @ruleset);
```

less:
// Selects h1-h6
.h({
	font-weight: normal;
});

@ruleset <ruleset> - A ruleset to apply for headings

styleguide: mixins.selector.h
*/
.h(@ruleset) {
	.h(1; 6; @ruleset);
}

/*
.h (Range)

Selects heading elements with specific range of level.

less:
// Selects h4-h6
.h(4; 6; {
	color: Orange;
});

@max <integer> - Maximum level of heading
@min <integer> - Minimum level of heading
@ruleset <ruleset> - A ruleset to apply for headings

styleguide: mixins.selector.h-range
*/
.h(@max; @min; @ruleset) {
	
	.for(@max; @min; {
		.each(@i) {
			
			h@{i} {
				@ruleset();
			}
		}
	});
}

/*
.list

Selects list elements.

@ruleset <ruleset> - A ruleset to apply for list elements

styleguide: mixins.selector.list
*/
.list(@ruleset) {
	ol, ul, dl {
		@ruleset();
	}
}

/*
.section

Selects sectioning elements.

@ruleset <ruleset> - A ruleset to apply for sectioning elements

styleguide: mixins.selector.section
*/
.section(@ruleset) {
	article,
	section,
	nav,
	aside {
		@ruleset();
	}
}
