.triangle(@dir; @w; @h; @color) {
	display: block;
	.dim(0);
	padding: 0;
	border-style: solid;
	
	& when (@dir = l), (@dir = left) {
		.bdr-x-width(0; @w);
		.bdr-y-width(@h / 2);
		border-top-color: transparent;
		border-right-color: @color;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	
	& when (@dir = r), (@dir = right) {
		.bdr-x-width(@w; 0);
		.bdr-y-width(@h / 2);
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: @color;
	}
	
	& when (@dir = t), (@dir = top) {
		.bdr-x-width(@w / 2);
		.bdr-y-width(0; @h);
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: @color;
		border-left-color: transparent;
	}
	
	& when (@dir = b), (@dir = bottom) {
		.bdr-x-width(@w / 2);
		.bdr-y-width(@h; 0);
		border-top-color: @color;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
}

.circle(@w; @h; @color: asis) {
	display: block;
	.dim(@w @h);
	border-radius: max(@w, @h);
	
	& when (iscolor(@color)) {
		background-color: @color;
	}
}

.ring(@w; @h; @weight: 1px; @color: asis) {
	.circle(@w; @h);
	background: none;
	border-style: solid;
	border-width: @weight;
	
	& when (iscolor(@color)) {
		border-color: @color;
	}
}

/**
 * @DEPRECATED
 * @see .sprite
 */
.image(@url; @scale: 1.0) {
	.sprite(@url; @scale);
}

.sprite(@url; @scale: 1.0) {
	@w: image-width(@url) * @scale;
	@h: image-height(@url) * @scale;
	width: @w;
	height: @h;
	background-image: url(@url);
	background-repeat: no-repeat;
	
	& when not(@scale = 1.0) {
		background-size: @w @h;
	}
}
