/*
Shortcut

styleguide: mixins.shortcut
*/

.static() {
	position: static;
}

.relative() {
	position: relative;
}

.absolute() {
	position: absolute;
}

.fixed() {
	position: fixed;
}

.inline() {
	display: inline;
}

.block() {
	display: block;
}

.inline-block() {
	display: inline-block;
}

.flex() {
	display: flex;
}
