/*
Box

styleguide: mixins.box
*/

/*
.dim

Sets dimension.

less:
.block {
	.dim(480px; 320px);
}

@w <length> - Width
@h <length> - Height

styleguide: mixins.box.dim
*/
.dim(@w; @h) {
	width: @w;
	height: @h;
}

/*
.dim (Square)

Sets dimension.

@wh <length> - Width & height

styleguide: mixins.box.dim-square
*/
.dim(@wh) {
	.dim(@wh; @wh);
}
