/**
 * Blessing / Variables / Config
 * @author amekusa <post@amekusa.com>
 */

@import "variables.config.default.less";
@import "variables.enum.less";

@compatibility: @compatibility-ie8;
@target-ppi: 96;
@base-font-size: 12px;
@base-line-height: 1.5;
@base-margin: 20px;
@medium-font-size: @base-font-size;
@small-font-size: 10px;
@x-small-font-size: 8px;
@large-font-size: 14px;
@x-large-font-size: 18px;
