/**
 * Blessing / Variables / Enum
 * @author amekusa <post@amekusa.com>
 */

@compatibility-css3: -39;
@compatibility-css3-transitional: -38;
@compatibility-css2-1: -29;
@compatibility-css2-0: -28;
@compatibility-css2: -28;
@compatibility-css2-transitional: -27;
@compatibility-ie9: @compatibility-css3-transitional;
@compatibility-ie8: -37;
@compatibility-ie7: -27;
@compatibility-ie6: -26;
@compatibility-css1: -19;
@compatibility-css-limited: -9;
