/**
 * Blessing / Variables / Config / Default
 * @author amekusa <post@amekusa.com>
 */

@import "variables.enum.less";

@compatibility: @compatibility-ie8;
@target-ppi: 96;
@base-font-size: 12pt;
@base-line-height: 1.5;
@base-margin: @base-font-size * @base-line-height;
@medium-font-size: 1em;
@small-font-size: .75em;
@x-small-font-size: .5em;
@large-font-size: 1.5em;
@x-large-font-size: 2em;
