/**
 * Blessing / Variables / Enumerations
 */

// Compatibility
@compat-edge:                      -255; // Bleeding Edge
@compat-css3:                       -39; // CSS 3
@compat-css3-draft:                 -38;
@compat-ie9:                        -37;
@compat-ie8:                        -36;
@compat-css2-1:                     -29; // CSS 2.1
@compat-css2:                       -28; // CSS 2
@compat-ie7:                        -27;
@compat-ie6:                        -26;
@compat-css1:                       -19; // CSS 1
@compat-css-limited:                 -9;

// Magic keywords
@empty:                              "";
@default:                       default;
